<div class="floatLeft leftColumn">
  <div class="portlet portletB">
    <% if params[:controller] == "member/conclave/events"%>
      <h2>Events</h2>
    <% else -%>
      <h2><%= I18n.t("tog_conclave.site.upcoming") %></h2>
    <% end %>
    <div class="portlet_content">
      <%@events.each do |event|%>
        <dl class="clear">
          <dt class="floatLeft  vspace">
            <% if event.icon %>
              <%= icon_for_event(event, 'big')%>
            <% end %>
          </dt>
          <dd class="floatRight vspace  title"><%= link_to event.title, conclave_event_path(event), :title => event.title %></dd>
          <dd class="floatRight time"><%=event.opening_time %></dd>
        </dl>
      <%end%>
    </div>    
  </div>
  <% if !@events.empty? %>
    <div class="pages_navigation right">
      <%= will_paginate @events %>
    </div>
  <%end%>
</div>

<% if params[:controller] != "member/conclave/events"%>
  <% content_for :sidebar do %>
    <%= render :partial => 'calendar', :locals => {:year => @year, :month => @month} -%>
  <% end -%>
<% end -%>
